
*.sln

firstTask/first/.vs/first/v16/

firstTask/first/Debug/

firstTask/first/first/Debug/

*.filters

*.vcxproj

*.user

secondTask/second/.vs/second/v16/

secondTask/second/Debug/

secondTask/second/Release/

secondTask/second/second/Debug/

secondTask/second/second/Release/second.tlog/

secondTask/second/second/Release/
